.gradle/
.idea/
.kotlin/
**/build/
local.properties
*.iml
captures/
*.jks
*.keystore
.env*
!*.env.example
design/prototype/node_modules/
design/prototype/dist/
services/gateway/node_modules/
services/gateway/.dev.vars*
